<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - ImageChat</title>
</head>
<body>
    <div>
        <h2>部屋作成</h2>
        <form method="post" action="/room">
            部屋名: <input name="name" type="text" /><br />
            イメージ: <input name="image" type="url" /><br />
            <input name="部屋を作る" value="部屋を作る" type="submit" />
        </form>
    </div>
</body>
</html>