@model ImageChat.Room

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <title>神付きチャット部屋 - ImageChat</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type="text/javascript">
            $(function () {
                var write = function (dataJson) {
                    var data = JSON.parse(dataJson);
                    var escapedStr = $("<div />").text(data.Text).html();
                    var escapedColor = $("<div />").text(data.Color).html();
                    var style2 = data.IsGod ? "font-size: 300%;" : "";
                    $("#console").prepend("<li style='color:" + escapedColor + ";" + style2 +"'>" + escapedStr + "</li>");
                };

                var ws = new window.WebSocket("ws://@(Model.Host)/room");
                ws.onerror = function () { $("#console").prepend("接続失敗"); };
                ws.onmessage = function (e) { write(e.data); };
                ws.onclose = function (e) { $("#console").prepend("接続が終了しました。コード: " + e.code + " 理由: " + e.reason); };
                var sendText = function () {
                    var text = $("#chat").val();
                    var color = $("#color").val();
                    if (text !== "") {
                        ws.send(JSON.stringify({'Color': color, 'Text': text, 'IsGod': false}));
                    }
                    $("#chat").val("");
                };
                $("#submit").click(function () {
                    sendText();
                });
                $("#chat").keydown(function (event) {
                    // エンターキーを押したとき
                    if (event.keyCode === 13) {
                        sendText();
                    }
                });
            });
        </script>
    </head>
    <body style="background-image: url(@Model.ImageUrl)">
        <div>
            <h2>チャット部屋</h2>
            色: <input id="color" type="text" value="#000000" style="width:60px" />  内容: <input id="chat" type="text" style="width:80%" /><input type="button" id="submit" value="送信" /><br />
            <ul id="console">
                @foreach (var chatText in @Model.Texts.Reverse())
                {
                    <li style="color: @(chatText.Color);@(chatText.IsGod?"font-size: 300%;":"")">@chatText.Text </li>
                }
            </ul>
        </div>
    </body>
</html>